*{
    padding: 0;
    margin:0;
}

body{
    background-color: black;
}


.orbitron-style {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Name{
    color: whitesmoke;
    text-align: center;
    margin-top: 2rem;
    font-size: 50px;
    font-family: "orbitron",sans-serif;
    box-shadow: 0px 0px 10px whitesmoke;
    text-shadow: 0 0 5px wheat;
}
#txt{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25rem;
    font-size: 300px;
    font-family: "Orbitron", sans-serif;
    text-shadow: 0 0 10px whitesmoke;
}